#gallery{
    background-color: #d5c75f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.picture1,.picture2, .picture3, .picture4, .picture5, .picture6{
    margin:10px;
}
.img1,.img2, .img3, .img4, .img5, .img6{
    margin:10px;
}
#gallery img{
    box-shadow: 2px  3px;
    width:100%;
}
.picture1 {
    -webkit-filter:blur(10px);
    filter:blur(10px);
}
.picture2,.picture4,.picture6{
    -webkit-filter: grayscale(100%);
    filter:grayscale(100%);

}
.picture3{
    -webkit-filter: sepia(90%);
    filter:sepia(90%);
}

