/*Estilo para pantallas de movil*/
@media all and (max-width:1300px) and (min-width:300px){
    header{
        flex-direction: column;
        align-items: flex-start;
        
    }
    #secondary-image{
        flex-direction: column;
        align-items: flex-start;
    }
}